body {
    background-color: #35372D;
    color: #ededf2;
}

.container {
    margin-top: 20px;
}

#chat {
    height: 400px;
    overflow-y: scroll;
    background-color: #444654;
}

.list-group-item {
    border-radius: 5px;
    background-color: #444654;
}

.submit {
    background-color: #21232e;
    color: white;
    border-radius: 5px;
}

.input-group input {
    background-color: #444654;
    color: #ededf2;
    border: none;
}
